@import 'scss/variables/colors.scss';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(-50%, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes roll {
  0% {
    transform: rotate(45deg) scale(1);
    box-shadow: 0 0 0 0 rgba($SKOLZ-light-purple, 0.3);
  }

  50% {
    transform: rotate(135deg) scale(1.2);
  }
  
  70% {
    box-shadow: 0 0 0 5px rgba($SKOLZ-light-purple, 0);
  }

  100% {
    transform: rotate(225deg) scale(1);
    box-shadow: 0 0 0 0 rgba($SKOLZ-light-purple, 0);
  }
}

.navbar {
  display: flex;
  position: relative;
}

.nav-link {
  margin: 0 5px;
  width: 30px;
  height: 20px;
  padding: 5px 10px;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 1px solid $SKOLZ-light-purple;
    display: block;
    transform: rotate(45deg);
  }

  .nav-text {
    font-size: 14px;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    color: $SKOLZ-white;
    bottom: calc(100% + 14px);
    left: 50%;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    letter-spacing: 4px;
    transition: opacity 1s ease;
    pointer-events: none;
  }

  &:hover {
    &::before {
      animation: roll 0.5s linear;
    }

    .nav-text {
      animation: fadeInUp 0.5s ease;
      opacity: 1;
    }
  }

  &.active {
    pointer-events: none;

    &::before {
      background-color: $SKOLZ-light-purple;
    }
  }
}
