@import 'scss/variables/_colors.scss';

.border {
  height: calc(100vh - 80px);
  width: calc(100vw - 80px);
  border-radius: 1px;
  position: absolute;
  background-image: url('~assets/brilliant.png');
  background-color: $SKOLZ-white;
  clip-path: polygon(0 0, calc(100% - 270px - 140px) 0, calc(100% - 270px - 140px) 30px, 30px 30px, 30px calc(100% - 30px), calc(100% - 30px) calc(100% - 30px), calc(100% - 30px) 30px, calc(100% - 80px) 30px, calc(100% - 80px) 0, 100% 0, 100% 100%, 0 100%);

  &.exit {
    transition: transform 2s ease, opacity 2s ease;
    transform: scale(1.5);
    opacity: 0;
  }
}

.intro-info {
  display: flex;
  flex-direction: column;
  padding: 120px 100px;
}

.description {
  position: relative;
  color: $SKOLZ-white;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 200;
  width: 530px;
  line-height: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.social {
  display: flex;
}

.profile-image{
  margin: 0 auto;
  align-self: center;
}

.social-link:hover :global(.social-icon-main),
.inline-link:hover .description-image-text {
  fill: lighten($SKOLZ-light-purple, 10%);
}

.social-icon-main,
.description-image-text {
  transition: fill 0.4s ease;
}

.description-image-text {
  height: 16px;
  margin: 0 8px;
}
