@import 'scss/variables/colors';
@import 'scss/variables/responsiveSizes';

.border {
  height: calc(100% - 80px);
  width: calc(100% - 80px);
  border-radius: 1px;
  position: absolute;
  background-image: url('~assets/brilliant.png');
  background-color: $SKOLZ-white;
  clip-path: polygon(
    0 0,
    calc(100% - 270px - 140px) 0,
    calc(100% - 270px - 140px) 30px,
    30px 30px,
    30px calc(100% - 30px),
    calc(100% - 30px) calc(100% - 30px),
    calc(100% - 30px) 30px,
    calc(100% - 80px) 30px,
    calc(100% - 80px) 0,
    100% 0,
    100% 100%,
    0 100%
  );

  &.exit {
    transition: transform 2s ease, opacity 2s ease;
    transform: scale(1.5);
    opacity: 0;
  }
}

.intro-info {
  display: flex;
  flex-direction: column;
  padding: 120px 100px;
}

.description {
  position: relative;
  color: $SKOLZ-white;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 200;
  width: 100%;
  max-width: 530px;
  line-height: 50px;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.social {
  display: flex;
}

.profile-image {
  margin: 0 auto;
  align-self: center;
  padding: 120px 100px;
  max-width: 700px;
}

.social-icon-main,
.description-image-text {
  transition: fill 0.4s ease;
}

.description-image-text {
  height: 16px;
  margin: 0 8px;
}

.inline-link {
  color: $SKOLZ-white;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  font-weight: 300;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    height: 1px;
    background: $SKOLZ-white;
  }

  &:hover {
    color: lighten($SKOLZ-light-purple, 10%);

    &::after {
      background: lighten($SKOLZ-light-purple, 10%);
    }
  }

  &:active {
    color: $SKOLZ-white;
  }
}

.social-link:hover :global(.social-icon-main),
.inline-link:hover .description-image-text {
  fill: lighten($SKOLZ-light-purple, 10%);
}

@media screen and (max-width: $big-width-screen) {
  .intro-info,
  .profile-image {
    padding: 80px 60px;
  }
}

@media screen and (max-width: $mid-width-screen) {
  .border {
    clip-path: polygon(
      0 0,
      calc(50% - 135px - 20px) 0,
      calc(50% - 135px - 20px) 30px,
      30px 30px,
      30px calc(100% - 30px),
      calc(100% - 30px) calc(100% - 30px),
      calc(100% - 30px) 30px,
      calc(50% + 135px + 20px) 30px,
      calc(50% + 135px + 20px) 0,
      100% 0,
      100% 100%,
      0 100%
    );
  }

  .intro-info {
    align-items: center;
    padding: 0 60px 60px;
  }

  .description {
    text-align: center;
    margin-bottom: 50px;
  }

  .social {
    margin-top: 0;
  }

  .profile-image {
    max-width: 600px;
    padding: 80px 60px 0;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $mid-width-mobile-screen) {
  .last-name:global(.title) {
    font-size: 13vw;
    line-height: 13vw;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $small-width-mobile-screen) {
  .border {
    clip-path: polygon(
      0 0,
      calc(50% - 85px - 20px) 0,
      calc(50% - 85px - 20px) 20px,
      20px 20px,
      20px calc(100% - 20px),
      calc(100% - 20px) calc(100% - 20px),
      calc(100% - 20px) 20px,
      calc(50% + 85px + 20px) 20px,
      calc(50% + 85px + 20px) 0,
      100% 0,
      100% 100%,
      0 100%
    );
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }

  .intro-info {
    padding: 0 40px 60px;
  }

  .first-name {
    font-size: 11vw;
    line-height: 11vw;
  }

  .description {
    font-size: 18px;
    line-height: 36px;
  }

  .social-link {
    margin: 0 10px;
  }

  .profile-image {
    padding: 60px 40px 0;
    margin-bottom: 40px;
  }
}
