@import 'scss/variables/colors';
@import 'scss/variables/responsiveSizes';

.main {
  background-image: url('~assets/black-felt.png');
  background-color: $SKOLZ-black;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  position: relative;
}

.logo {
  position: absolute;
  top: 25px;
  right: 150px;
  height: 60px;
  width: 270px;
  z-index: 1;
}

.logo-image {
  transition: fill 0.4s ease;
}

.logo:hover .logo-image {
  fill: lighten($SKOLZ-light-purple, 10%);
}

.navbar-wrapper {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: $mid-width-screen) {
  .logo {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  .main {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: $small-width-mobile-screen) {
  .logo {
    width: 170px;
    height: auto;
    top: 10px;
  }

  .main {
    padding: 20px;
  }

  .navbar-wrapper {
    bottom: 20px;
  }
}
