@import 'scss/variables/_colors.scss';

.border {
  top: 55px;
  height: calc(100% - 110px);
  width: calc(100% - 80px);
  position: absolute;
  background-color: $SKOLZ-white;
  clip-path: polygon(
    100px 0,
    100px 1px,
    1px 1px,
    1px 100px,
    0 100px,
    0 calc(100% - 50px),
    1px calc(100% - 50px),
    1px calc(100% - 1px),
    calc(50% - 50px) calc(100% - 1px),
    calc(50% - 50px) 100%,
    calc(50% + 50px) 100%,
    calc(50% + 50px) calc(100% - 1px),
    calc(100% - 1px) calc(100% - 1px),
    calc(100% - 1px) 1px,
    calc(100% - 50px) 1px,
    calc(100% - 50px) 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0
  );
}

.about-text {
  opacity: 1;
  overflow: auto;
  max-height: calc(100vh - 250px);
  padding: 0 25px;
  margin-top: 50px;
}

.about-text::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.about-text::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.about-text::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $SKOLZ-light-purple;
}

.content-wrapper {
  padding: 60px;
  height: calc(100vh - 80px);
}

.highlight-images {
  &.active {
    display: grid;
    position: relative;
    height: calc(100% - 100px);
  }

  &.inactive {
    display: none;
  }
}

.image-wrapper {
  border-radius: 2px;
  overflow: hidden;
  object-fit: contain;
  
  &.slide-left {
    animation: translate-right 2s ease-in-out forwards;

    &::after {
      animation: slide-left 2s ease-in-out forwards;
    }
  }
  
  &.slide-right {
    animation: translate-left 2s ease-in-out forwards;

    &::after {
      animation: slide-right 2s ease-in-out forwards;
    }
  }
  
  &.slide-top {
    animation: translate-bottom 2s ease-in-out forwards;

    &::after {
      animation: slide-top 2s ease-in-out forwards;
    }
  }
  
  &.slide-bottom {
    animation: translate-top 2s ease-in-out forwards;

    &::after {
      animation: slide-bottom 2s ease-in-out forwards;
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: $SKOLZ-light-purple;
    position: absolute;
  }

  .highlight-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    animation: reveal 1s ease-in-out 1s forwards;
    transform-origin: 50% 50%;
    object-fit: inherit;
    object-position: inherit;
  }
}

.highschool-container,
.university-container {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.wolox-container {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 2fr;
  grid-gap: 30px;
}

.images-column {
  flex: 1;
}

.highschool-1 {
  height: 100%;
  max-height: 500px;
  width: 100%;
  max-width: 357px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  justify-self: end;
  object-position: center right;
}

.highschool-2 {
  height: 100%;
  max-height: 225px;
  width: 100%;
  max-width: 324px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  object-position: bottom left;
}

.highschool-3 {
  height: 100%;
  width: 100%;
  max-height: 250px;
  max-width: 377px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  object-position: top left;
}

.university-1 {
  height: 100%;
  width: 100%;
  max-height: 457px;
  max-width: 390px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  object-position: center left;
}

.university-2 {
  height: 100%;
  width: 100%;
  max-height: 244px;
  max-width: 400px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  object-position: top right;
}

.university-3 {
  height: 100%;
  width: 100%;
  max-height: 273px;
  max-width: 400px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  object-position: bottom right;
}

.wolox-1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  height: 100%;
  max-height: 300px;
  width: 100%;
  max-width: 384px;
  object-position: top left;
}

.wolox-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  width: 100%;
  max-width: 450px;
  justify-self: end;
  max-height: 250px;
  height: 100%;
  object-position: bottom right;
}

.wolox-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  height: 100%;
  max-height: 350px;
  justify-self: end;
  width: 100%;
  max-width: 285px;
  object-position: top right;
}

.wolox-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  max-height: 320px;
  height: 100%;
  width: 100%;
  max-width: 250px;
  object-position: bottom left;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

// reveal from left

@keyframes translate-right {
  from {
    transform: translateX(-50px);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}

// reveal from right

@keyframes translate-left {
  from {
    transform: translateX(50px);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
  50% {
    transform: scaleX(1);
    transform-origin: 100% 50%;
  }
  51% {
    transform: scaleX(1);
    transform-origin: 0% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0% 50%;
  }
}

// reveal from top

@keyframes translate-bottom {
  from {
    transform: translateY(-50px);
  }
  
  to {
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    transform: scaleY(0);
    transform-origin: 50% 0%;
  }
  50% {
    transform: scaleY(1);
    transform-origin: 50% 0%;
  }
  51% {
    transform: scaleY(1);
    transform-origin: 50% 100%;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 50% 100%;
  }
}

// reveal from bottom

@keyframes translate-top {
  from {
    transform: translateY(50px);
  }
  
  to {
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: 50% 100%;
  }
  50% {
    transform: scaleY(1);
    transform-origin: 50% 100%;
  }
  51% {
    transform: scaleY(1);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scaleY(0);
    transform-origin: 50% 0%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .border {
    clip-path: polygon(
      100px 0,
      100px 1px,
      1px 1px,
      1px 100px,
      0 100px,
      0 calc(100% - 100px),
      1px calc(100% - 100px),
      1px calc(100% - 1px),
      calc(50% - 50px) calc(100% - 1px),
      calc(50% - 50px) 100%,
      calc(50% + 50px) 100%,
      calc(50% + 50px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      calc(100% - 1px) 1px,
      calc(100% - 100px) 1px,
      calc(100% - 100px) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0
    );
  }

  .images-column {
    flex: none;
  }

  .highschool-1,
  .wolox-3 {
    object-position: center;
    justify-self: center;
  }

  .university-1 {
    grid-column-start: 1;
  }

  .wolox-3 {
    grid-row-start: 1;
    align-self: center;
  }

  .highschool-2,
  .highschool-3,
  .university-2,
  .university-3,
  .wolox-1,
  .wolox-2,
  .wolox-4 {
    display: none;
  }

  .highschool-container,
  .university-container,
  .wolox-container {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  .border {
    width: calc(100% - 80px);
    clip-path: polygon(
      50px 0,
      50px 1px,
      1px 1px,
      1px 50px,
      0 50px,
      0 calc(100% - 50px),
      1px calc(100% - 50px),
      1px calc(100% - 1px),
      calc(50% - 50px) calc(100% - 1px),
      calc(50% - 50px) 100%,
      calc(50% + 50px) 100%,
      calc(50% + 50px) calc(100% - 1px),
      calc(100% - 1px) calc(100% - 1px),
      calc(100% - 1px) 1px,
      calc(100% - 50px) 1px,
      calc(100% - 50px) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0
    );
  }

  .images-column {
    margin-right: 0;
    flex: none;

    :global(.title.big) {
      font-size: 60px;
      line-height: 60px;
    }
  }

  .highschool-1,
  .highschool-3,
  .university-1,
  .university-3,
  .wolox-1,
  .wolox-3,
  .wolox-4 {
    display: none;
  }

  .highschool-2,
  .university-2,
  .wolox-2 {
    height: 250px;
    max-height: none;
    object-position: center;
  }

  .content-wrapper {
    flex-direction: column;
    padding: 80px 30px;
  }

  .about-text {
    max-height: none;
    padding: 0;
    margin-top: 20px;
    flex: none;
  }

  .highlight-images.active {
    display: flex;
    justify-content: center;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .content-wrapper {
    padding: 60px 30px;
  }

  .border {
    top: 30px;
    height: calc(100% - 60px);
    width: calc(100% - 40px);
  }
}
